<!DOCTYPE html>
<html>
<head>
    <title>It's <%=title%></title>
    <%-scripts%>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%-stylesheets%>
</head>
<body>
<header>
    <%-blocks.header%>
</header>
<section>
    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>